@import '../abstracts/variables';

* {
  font-family: $font-title;
}

body {
  background: $bg-gradient;
  font-weight: 200;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}
