@import '../abstracts/variables';

h1, h2, h3, p {
  color: $color-text;
  font-weight: 600;
  letter-spacing: 0.3px;
}

h2 {
  background: $gradient-title;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font-title;
  font-size: $h2-size;
  transition: all 0.2s;
  text-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color;
}

h3 {
  color: #D8B4FE;
  font-size: $h3-size;
  margin-bottom: 10px;
}

p {
  font-family: $font-title;
  letter-spacing: 1px;
  font-size: 1rem;
  color: $color-subtext;
}

//formulario
.form-subtitle {
  text-align: center;
  color: $color-text;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.p-footer {
  color: black !important;
}

.h3-footer {
  color: black !important;
}