@import '../abstracts/variables';

h1, h2, h3, p {
  color: rgb(255, 249, 249);
  font-weight: 600;
  letter-spacing: 0.2px;
}

h2 {
  background: $gradient-title;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font-title;
  font-size: $h2-size;
  transition: all 0.2s;
  text-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color;
}

h3 {
  color: #ffffff;
  font-size: $h3-size;
  margin-bottom: 10px;
}

p {
  font-family: $font-title;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color:rgb(255, 255, 255);
}

.form-subtitle {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.9rem;
}

.p-footer {
  color: rgb(255, 255, 255) !important;
}

.h3-footer {
  color: rgb(255, 255, 255) !important;
}

