@import '../abstracts/variables';

// SOBRE MI

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  opacity: 1;
  transform: translateY(50px);
  font-size: 5rem;
  margin: 0rem 2.5rem 5.5rem 2.5rem !important;
  transition: all $transition-medium;

  &.animate {
    opacity: 0;
    transform: translateY(0);
  }
}

.about-container {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  margin-left: 50px;
}

.perfil-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid $color-border;
  object-fit: cover;
  margin: 0;
  z-index: 5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}