.fondo-container {
  background: url(../../image//fondo4.jpg) center/cover fixed;
  height: 50rem;
  position: relative;
  z-index: 2;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  color: white;
  width: 100%;
  margin: 0 auto;

  h1 {
    animation: slideDown 1s ease-out forwards;
    opacity: 0;
  }

  h2 {
    animation: scaleRotateIn 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
    margin: 0 !important;
  }

  p {
    font-size: 1rem;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
  }
}

.icon-container {
  display: flex;
  gap: 2.5rem;
  position: relative;
  flex-direction: row;
  z-index: 3;

  a {
    align-items: center;
    background-color: $color-primary;
    border-radius: 50%;
    justify-content: center;
    position: relative;
    height: 3.4375rem;
    width: 3.4375rem;

    &:hover {
      background-color: $color-hover;
      filter: drop-shadow(1px 1px 30px #0a3655);
    }
  }
}
