article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-tecnology,
.card-container {
  display: flex;
  max-width: 80rem;
  margin-top: 20px !important;
  margin-bottom: 70px;
  flex-direction: row;
  align-items: stretch;
}

.section-avatar {
  margin-left: 70px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
  z-index: 0;
  height: 120px;
}

.avatar {
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 1px 30px #0a3655);
  z-index: 5;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;

  &.animate {
    transform: translateX(0);
    opacity: 1;
  }
}
