@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$font-title: "Rubik", sans-serif;

$color-primary: #6b15b6;
$color-hover: #085c98;
$color-text: #fff;
$color-subtext: rgb(234, 228, 228);
$color-shadow: rgba(0, 0, 0, 0.5);
$color-border: #0b4066;
$bg-gradient: radial-gradient(ellipse, #030d2b, #02071A, #030d2b);
$gradient-title: linear-gradient(50deg, #ff00c8, #dc00ff, #15085c);

$transition-fast: 0.3s ease;
$transition-medium: 0.8s ease-out;

$h2-size: 8rem;
$h3-size: 3rem;

$shadow-color: rgba(0, 0, 0, 0.5);
$shadow-x: 2px;
$shadow-y: 2px;
$shadow-blur: 4px;

$imageIds: '1517021897933-0e0319cfbc28', '1533903345306-15d1c30952de', '1545243424-0ce743321e11', '1531306728370-e2ebd9d7bb99';
$bp-md: 15px;
$bp-lg: auto;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-img {
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
      );
}
