@import '../abstracts/variables';

.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 0;
  width: 100%;
}

header {
  @include flex-center;
  align-items: center;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 0 4px 8px $color-shadow;
  position: fixed;
  width: 60%;
  z-index: 1000;

  nav ul {
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 10px 0;
    list-style: none;

    li {
      font-size: 1.25rem;
      margin: 0 10px;
      transition: opacity $transition-fast;

      &.icon {
        opacity: 1;
        pointer-events: none;
      }

      a {
        color: white;
        display: inline-block;
        font-weight: 400;
        text-decoration: none;
        transition: color $transition-fast;

        &::after {
          content: '';
          position: relative;
          bottom: -2px;
          left: 0;
          height: 2px;
          width: 0;
          background-color: currentColor;
          transition: width $transition-fast;
        }
      }

      &:hover a::after {
        width: 100%;
      }
    }

    &:hover li {
      opacity: 0.6;

      &.icon,
      &:hover {
        opacity: 1;
      }
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  left: 1.25rem;
  top: 1.1rem;
  z-index: 2000;

  span {
    width: 1.4rem;
    height: 3px;
    background: white;
    border-radius: 5px;
  }
}

