//Proyectos
@media (max-width: 1350px) {
  article {
    margin: 5rem;
  }

  #proyectos .card-container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero h1 {
    font-size: 1.8rem;
  }
}

//NavBar
@media (max-width: 950px) {
  header {
    width: 100%;
    justify-content: flex-start;
    padding-left: 60px;
  }

  .navbar-links {
    display: none !important;
  }

  .navbar-hamburger {
    display: block !important;
  }

  .hamburger {
    display: flex !important;
    margin: 0 0 0 1.5rem;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0,0,0,0.85);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    gap: 15px;
    z-index: 2500;
  }

  header nav.open ul {
    display: flex;
  }

  .hero h2 {
    font-size: 6.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .about-container {
    flex-wrap: wrap;
    flex-direction: column
  }

  .ring {
    margin-top: 30px!important;
  }

  .container-tecnology {
    flex-direction: column;
  } 

  .text-container {
    width: 85%;
    margin: 0px 10px !important;
  }
}

@media (max-width: 900px) {
  .form-glow {
    margin: 0px 6rem !important;
  }
}

@media (max-width: 730px) {
  .hero h2 { 
    margin: 0 5rem !important;
    font-size: 5rem;
  }
}

@media (max-width: 540px) {
  .hero h2{
    font-size: 4rem;
  }
  .hero p {
    font-size: 0.6rem;
  }
}