@media (max-width: 1350px) {
  article, .about-container   {
    margin: 0rem 5rem 0rem 5rem;
  }

  #proyectos .card-container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .hero p, .typing {
    font-size: 0.8rem;
  }

  .hero h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 950px) {
  header {
    width: 100%;
    justify-content: flex-start;
    padding-left: 60px;
  }

  .navbar-links {
    display: none !important;
  }

  .navbar-hamburger {
    display: block !important;
  }

  .hamburger {
    display: flex !important;
    margin: 0 0 0 1.5rem;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0,0,0,0.85);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    gap: 15px;
    z-index: 2500;
  }

  header nav.open ul {
    display: flex;
    align-items: flex-start;
    width: 70%;
  }

  h3 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  .about-container {
    flex-wrap: wrap;
    flex-direction: column
  }

  .ring {
    margin-top: 30px!important;
  }

  .container-tecnology {
    flex-direction: column;
    align-items: flex-end;
  } 

  .text-container {
    width: 85%;
    margin: 0px 20px !important;
  }
}

@media (max-width: 900px) {
  .form-glow {
    margin: 0px 4rem !important;
  }
}

@media (max-width: 730px) {
  .hero h2 { 
    margin: 0 5rem !important;
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
   .about-title {
    font-size: 3rem;
  }
}

@media (max-width: 540px) {
  .hero h2{
    font-size: 3.5rem;
  }
  .hero p {
    font-size: 0.5rem !important;
  }
  .hero h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .hamburger {
    margin-left:  0 0 0 2rem !important;
  }

  .hero h2 {
    font-size: 3rem !important;
    margin: 0 1rem !important;
  }
  .hero h1 {
    font-size: 1rem !important;
  }
  .hero p {
    font-size: 0.45rem !important;
  }
 
  .form-glow {
    margin: 0 1rem !important;
  }

  p {
    font-size: 0.7rem;
  }
  .ring {
    width: clamp(10rem, 25vw, 25rem);
    height: clamp(10rem, 25vw, 25rem);
    margin: 3rem;
  }
  .about-title {
    font-size: 3.5rem;
  }
  .section-avatar {
    margin: 0 0 1rem 0 !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .avatar {
    width: 5rem !important;   
    margin-bottom: 0px !important;
    transform: translateX(0) !important;  
  }
  .container-tecnology {
    flex-direction: column-reverse !important;
    align-items: center !important;
    text-align: left;  
  }
}

@media (max-width: 460px) {
  .about-title {
    font-size: 3rem;
  }
   p {
    font-size: 0.6rem;
  }
}